
body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

.index-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.index-card {
  width: 60%;
  margin-top: 10%;
  height: 400px;
  border: solid gray thin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;
  align-items: center;
  background-color: #144cde;
  color: white;
  border-radius: 16px;
}

.index-header {
  font-size: 2em;
  font-family: 'Staatliches', cursive;
  letter-spacing: 4px;
}

#quote {
  font-size: 1.2em;
}

.index-btn {
  width: 80%;
  height: 32px;
  background: none;
  border: solid white;
  color: white;
  font-size: 1.2em;
}

.index-btn:hover {
  background-color: #E1682D;
  border: none;
  cursor: pointer;
}