<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/static/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:500|Staatliches" rel="stylesheet">
  <title>Wisdom Generator</title>
</head>
<body>
  <div class="index-container">
    <div class="index-card">
      <h2 class="index-header">🧠 Click Button, Gain Wisdom 🧠</h2>
      <p class="index-text" id="quote"></p>
      <button class="index-btn" onclick="setQuote()">Change Quote</button>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/static/javascript/scripts.js"></script>
</body>
</html>